.App {
  text-align: center;
}
.listt{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  justify-content: space-between;
  row-gap: 2fr;
  justify-items: center;
  align-items: center;
}
image{
  width: 300px;
  height: 300px;
}
/* .control{
  position: relative !important;
  left: 0!important;
  /* margin-left: 0 !important; */



